---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1> Anastasia Psarou</h1>
			<p> anastasia.psarou@uj.edu.pl </p>
			<p> Multi-agent systems, Reinforcement learning, Agent-based modeling, Transportation </p>

			<img src="anastasia.png">


			<p>
				I am currently a second year PhD student under the supervision of professor <a href="https://www.rafalkucharskilab.pl/">Rafal Kucharski</a>, under the ERC grant, <a href="https://github.com/COeXISTENCE-PROJECT">COeXISTENCE</a> grant in Jagiellonian University.
			</p>

			<p>
				My research investigates the routing decision-making processes of autonomous vehicles, developing multi-agent reinforcement learning models to simulate and optimize their interactions within dynamic traffic networks.			</p>
			<p>

		</main>
		<Footer />
	</body>
</html>
