---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h2> Anastasia Psarou</h1>
			<p><a href="mailto:anastasia.psarou@uj.edu.pl">anastasia.psarou@uj.edu.pl</a></p>

			<p>
			Multi-agent systems · Reinforcement learning · Agent-based modeling · Transportation
			</p>

			<img src="anastasia.png" alt="Photo of Anastasia Psarou" width="200">

			<p>
			<strong>Current role:</strong> I am a second-year PhD student at the 
			<a href="https://www.uj.edu.pl/">Jagiellonian University</a>, working under the supervision of 
			Professor <a href="https://www.rafalkucharskilab.pl/">Rafał Kucharski</a>. 
			My research is conducted within the 
			<a href="https://github.com/COeXISTENCE-PROJECT">COeXISTENCE</a> project, funded by the European Research Council (ERC).
			</p>

			<p>
			<strong>Research:</strong> My work investigates how autonomous vehicles make routing decisions. 
			I develop multi-agent reinforcement learning models to simulate and optimize their interactions within dynamic traffic networks.
			</p>

		</main>
		<Footer />
	</body>
</html>
